body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container {
  display: grid;
  gap: 10px;
  grid-template: repeat(4,1fr) / repeat(4,1fr);
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(8px); 
}

.modal-content {
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.movie-card {
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-card h3 {
  margin: 0;
  margin-bottom: 5px;
}



.movie-card img {
  height: 200px;
}