body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container {
  display: grid;
  grid-template: repeat(4,1fr) / repeat(4,1fr);
}

.movie-card {
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-card h3 {
  margin: 0;
  margin-bottom: 5px;
}



.movie-card img {
  height: 200px;
}